{% load static %}
<div class="w-[90vw] h-[60vh] mx-auto relative mt-4 rounded-lg overflow-hidden mb-4">
    <img src="{{ image }}" class="absolute w-full h-full object-cover">
    <div class="absolute bottom-4 left-4 h-48 max-w-lg bg-white/30 backdrop-blur-md hover:bg-white rounded-xl p-8 space-y-2 text-white">
        <p class="text-gray-500 bg-white/50 inline px-2 py-1 rounded-lg">Let's Cook</p>
        <div class="bg-white/50  px-2 py-1 rounded-lg text-black space-y-2" >
            <h1 class="text-4xl"><span class="text-orange-600">{{ recipe.title | capfirst }} </span>Recipe</h1>
            <h2 class="text-3xl">{{ recipe.cuisine }} Food</h2>
        </div>
    </div>
   {% if recipe.author == user %}
    <a href="#" class="absolute top-4 right-4 bg-white/50 hover:bg-white text-black px-3 py-2 rounded-lg flex items-center space-x-2">
        <i class="bi bi-pencil-square"></i>
        <span>Edit Recipe</span>
        </a>
    {% endif %}
</div>
